@import "settings";
/* Global SASS-Plugins */
@import "breakpoint";
@import "compass";
@import "helper/animations";
@import "helper/clearfix";
@import "helper/mobile";
@import "helper/normalize";
@import "helper/mixins/keyframes";
@import "components/button";
@import "components/header";
@import "components/input";
@import "components/message";
@import "components/panel";
@import "components/section";
@import "components/tabs";
@import "components/main";
@import "components/menu";
@import "icons";
@import url(http://fonts.googleapis.com/css?family=Signika+Negative:300,400,600&subset=latin);

* {
  color: #000;
  font-family: 'Signika Negative', sans-serif;
}

html, body {
  font-size: 100%;
  min-height: 100%;
}

/* Basic Layout */

body {
  background: $default-background-color;
  display: flex;
  flex-flow: column;
}

header {
  display: flex;
  flex: 1;
}

body > .wrapper {
  align-items: stretch;
  display: flex;
  flex: 1;
  flex-direction: row;
}

div#menu {
  flex: 1;
  max-width: 22em;
}

main {
  flex: 2;
}


