@import "settings";
/* Global SASS-Plugins */
@import "breakpoint";
@import "compass";
@import "helper/animations";
@import "helper/clearfix";
@import "helper/mobile";
@import "helper/normalize";
@import "helper/mixins/keyframes";
@import "components/button";
@import "components/chart";
@import "components/dialog";
@import "components/header";
@import "components/input";
@import "components/main";
@import "components/map";
@import "components/menu";
@import "components/message";
@import "components/panel";
@import "components/section";
@import "components/table";
@import "components/tabs";
@import "icons";

//External
@import url(//fonts.googleapis.com/css?family=Signika+Negative:300,400,600&subset=latin);

* {
  color: #000;
  font-family: 'Signika Negative', sans-serif;
}

html, body {
  font-size: 100%;
  min-height: 100%;
  min-height: 100vh;
}

/* Basic Layout */

body {
  background: $default-background-color;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
}

body > .wrapper {
  display: flex;
  flex: 1;
  flex-direction: row;

  @include respond-to(small) {
    flex-direction: column;
  }

}

div#menu {
  max-width: 20em;

  @include respond-to(small) {
    max-width: 100%;
  }
}

main {
  flex: 1;
  height: 100%;
}


