button {
  background: lighten($secondary-color-light, 20%);
  border: 1px solid transparent;
  border-radius: 0.3em;
  color: #fff;
  padding: 0.3em 0.7em 0.2em;

  &:hover {
    background: $secondary-color-light;
    border: 1px solid $secondary-color-default;
    border-top: 1px solid transparent;
  }

  .icon {
    margin: 0 0.3em 0 -0.3em;
  }

  .label {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 200;
    line-height: 1.4em;
    text-transform: uppercase;
  }

  .icon, .label {
    color: inherit;
    float: left;
  }
}