.dialog {
  display: none;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;

  align-items: center;
  justify-content: center;

  position: fixed;

  width: 100%;

  &.open {
    display: flex;
  }

  .content {
    background: $default-background-color;
    border-radius: 0.3em;
    padding: 0.7em;

    .icon, .label{
      float: left;
    }

    .icon {
      font-size: 2em;
    }
    .label {
      font-size: 1.5em;
      line-height: 1.5em;
      padding: 0 1em;
    }

  }
}