#menu {
  background: $primary-color-default;

  nav {

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      margin: 0;
      padding: 0;

      li {

        color: $text-color-inverse;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
          background: $primary-color-light;
        }

        &.active,
        &.active:hover {
          background: #fff;
          color: #000;
        }

        &.disabled,
        &.disabled:hover {
          background: darken($primary-color-light, 20%);
          color: $primary-color-default;

          a {
            cursor: default;
          }
        }

        a {
          box-sizing: border-box;
          color: inherit;
          display: inline-block;
          font-weight: 600;
          height: 100%;
          padding: 0.5em 2em;
          text-align: center;
          text-decoration: none;
          width: 100%;

          .icon {
            border-radius: 1em;
            color: inherit;
            font-size: 2em;
          }

          .label {
            color: inherit;
            line-height: 2.7em;
            margin: 0 0 0 1em;
            text-transform: uppercase;
          }

          .icon, .label {
            float: left;
            transition: color 0.2s ease-in;
          }
        }
      }
    }

    @include respond-to(small) {

      ul {
        display: table;
        width: 100%;
        li {
          display: table-cell;
          a {
            padding: 1em 0;
            .icon {
              float: none;
            }
          }
        }
      }
    }

    @include respond-to(medium) {
      ul {
        li {
          a {
            .label {
              display: none;
            }
          }
        }
      }

    }

  }

  footer {
  }

}