div.panel {

  background: #fff;
  border: $default-border;
  border-top: 0;
  border-radius: 0.2em;
  color: #d0d0d0;
  overflow: auto;
  padding: 1em;
  margin: 1em;

  &.disabled{
    opacity: 0.4;
  }

  &.col-1 {
    flex: 1 0 0;

  }

  &.col-2 {
    flex: 2 0 0;

  }

  &.col-3 {
    flex: 3 0 0;
  }

  &.col-4 {
    flex: 4 0 0;
  }

  &.chart{
    align-items: center;
    display: flex;
    justify-content: center;
  }

  header {
    border-bottom: $default-border;
    color: $text-color-default;
    margin: 0 0 1em 0;
    padding: 0 0 0.5em 0;
  }

  .content{
    p{}
    p.info{
      color: $text-color-secondary;
      margin: 1em 0 0 0;
    }
  }

  footer {
    border-top: $default-border;
    color: $text-color-default;
    margin: 1em 0 0 0;
    padding: 0.5em 0 0 0;
  }
}