section {
  display: none;
  flex-direction: column;
  padding: 1.2em;

  &:target {
    display: flex;
  }

  .row {
    display: flex;
    flex-direction: row;
    overflow: hidden;

    @include respond-to(medium) {
      flex-direction: column;
    }

  }
}