section {
  display: none;
  flex-direction: column;
  padding: 1.2em;

  &:target,
  &.active {
    display: flex;
  }

  &.disabled,
  &.disabled.active,
  &.disabled:target,
  &.disabled.active:target{
    display: none;
  }

  h2 {
    color: lighten($secondary-color-light, 20%);
    font-size: 1.1em;
    font-weight: 200;
    margin: 0 1em;
  }

  .row {
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  @include respond-to(medium) {
    padding: 1em 0;

    .row {
      flex-direction: column;

    }
  }

}